#buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  gap: 10px;
}

#buttonGroup button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#buttonGroup button:hover {
  background-color: rgb(53, 167, 53);
}

#buttonGroup button span {
  display: inline-block;
  transition: transform 0.1s ease;
}

#buttonGroup button.active {
  background-color: rgb(200, 0, 0);
}

#buttonGroup button.active:hover {
  background-color: rgb(223, 57, 57);
}

#buttonGroup button.active span {
  transform: scale(0.97);
}
